body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

td, th{
    border: 1.5px solid rgb(8, 0, 252);
    margin: 0 0;
    padding: 8px;
}

table{
    background-color: rgb(214, 230, 239);
    border-collapse:collapse;
    text-align:center;
}

